/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    background: #ffffff;
}


/* TITULOS */
h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: rgb(61, 61, 61);
    padding: 0px;
    margin-top: 10px;
}

/* telas maiores */
@media (min-width: 768px) {
    h1 {
        font-size: 24px;
        line-height: 32px;
        margin-top: 30px;
    }
}

/* telas bem grandes */
@media (min-width: 1200px) {
    h1 {
        font-size: 32px;
        line-height: 42px;
        margin-top: 30px;
    }
}

/* SUBTITUTOS*/
h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: rgb(61, 61, 61);
}

/* telas maiores */
@media (min-width: 768px) {
    h2 {
        font-size: 20px;
        line-height: 26px;
    }
}

/* telas bem grandes */
@media (min-width: 1200px) {
    h2 {
        font-size: 22px;
        line-height: 32px;
    }
}

hr {
    border-color: #cdcdce;
}

/* SUB TITUTO SUB */
h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgb(61, 61, 61);
    padding: 0px;
    margin-top: 4px;
}

/* telas maiores */
@media (min-width: 768px) {
    h3 {
        font-size: 14px;
        line-height: 18px;
    }
}

/* telas bem grandes */
@media (min-width: 1200px) {
    h3 {
        font-size: 16px;
        line-height: 20px;
    }
}

/* SUB TITUTO SUB */
h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgb(61, 61, 61);
    padding: 0px;
    margin-top: 4px;
}

/* telas maiores */
@media (min-width: 768px) {
    h4 {
        font-size: 12px;
        line-height: 18px;
    }
}

/* telas bem grandes */
@media (min-width: 1200px) {
    h4 {
        font-size: 16px;
        line-height: 20px;
    }
}

/*MEU HEADER*/
header {
    min-height: 64px;
}

header,
nav {
    background: #ffffff;
    color: rgb(61, 61, 61);
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    justify-items: normal;
    line-height: 24px;
}

/*MINHA NAV MOBILE border border-200*/
@media (max-width: 770px) {
    #mobile-menu nav button {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: rgb(61, 61, 61);
        border-bottom: 1px solid #E5E7EB;
        padding-bottom: 16px;
        margin-top: 16px;
    }
}

/*MINHA NAV MOBILE SPAN*/
nav span {
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    margin: -6px;
    color: inherit;
    line-height: 24px;
    border: #0660ce;
}

header a:hover,
header a:focus {
    color: rgb(54, 177, 223);
}

div a:hover,
header a:focus {
    color: rgb(54, 177, 223);
}

div a:active {
    color: rgb(54, 177, 223);
}

/* padrão (mobile / telas menores) */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/Rubik-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Rubik-mini.woff2') format('woff2');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Rubik-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Rubik-Regular.woff2') format('woff2');
}

p,
ul,
ol,
label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgb(61, 61, 61);
}

/* telas maiores */
@media (min-width: 768px) {

    p,
    ul,
    ol,
    label {
        font-size: 18px;
        line-height: 26px;
    }
}

/* telas bem grandes */
@media (min-width: 1200px) {

    p,
    ul,
    ol,
    label {
        font-size: 18px;
        line-height: 26px;
    }
}

a img {
    border-radius: 5px;
    object-fit: cover;
}

span a {
    font-weight: 600;
    text-decoration: underline;
    color: inherit;
}

/*MARCACAO ESTILIZADAS) */
ol {
    counter-reset: item;
    padding-left: 0px;
}

ol li {
    font-style: normal;
    counter-increment: item;
    color: rgb(61, 61, 61);
    font-size: inherit;
    display: flex;
    align-items: flex-start;
    margin: 0px;
    padding: 5px;
}

ol li::before {
    content: counter(item) ".";
    color: #1e90ff;
    font-weight: bold;
    margin-right: 5px;
    /* mesma dimensão do texto (herda automaticamente) */
}

/* telas maiores */
@media (min-width: 768px) {
    ol {
        font-size: 18px;
        line-height: 26px;
    }
}

/* telas bem grandes */
@media (min-width: 1200px) {
    ol {
        font-size: 18px;
        line-height: 26px;
    }
}

/* Main layout */
main {
    background: inherit;
    padding: 20px;
    margin-top: 70px;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 18px
}

/* TELAS DO SITE */
@media (max-width:750px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .hero .content {
        max-width: 100%
    }
}

/* small polish */
.hero .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, transparent 20px, rgba(0, 0, 0, 0.45))
}

/* YOUTUBE*/
.youtube-section {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
}

.youtube-section {
    font-size: 28px;
    font-weight: 600;
    font-size: 24;
    margin-bottom: 25px;
    color: #242323;
}

.videos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.video-card {
    background: #e3eaeb;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;
}

.thumb {
    width: 100%;
    height: 180px;
    position: relative;
    overflow: hidden;
}

.thumb iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.video-info {
    padding: 18px;
}

/* Lista com bolinhas azuis */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 15px;
}

ul li::before {
    content: "•";
    width: 10px;
    height: 10px;
    color: #2BB3D6;
    position: absolute;
    font-weight: 500;
    line-height: 24px;
    left: 0;
    top: 0%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transform: translateX(0%);
    font-size: 25px;
    line-height: 1;
}

/* telas maiores */
@media (min-width: 768px) {

    ul li {
        font-size: 18px;
        line-height: 26px;
    }
}

/* telas bem grandes */
@media (min-width: 1200px) {

    ul li {
        font-size: 18px;
        line-height: 26px;
    }
}

/* Card */
.cartao {
    padding: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
    transition: 0.3s;
}

/* Imagem */
.cartao img {
    width: 130px;
    height: 90px;
    border-radius: 5px;
    object-fit: cover;
}

/* Conteúdo */
.cartao-content {
    padding: 5px;
    flex: 5px;
}


/* Grid */
.now {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.agora {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 5px;
}

/* Responsivo */
@media (max-width: 1200px) {
    .now {
        grid-template-columns: repeat(2, 1fr);
    }

    .agora {
        grid-template-columns: repeat(2, 1fr);
    }

    .now img {
        width: 500px;
        height: 200px;
        object-fit: cover;
    }
}

@media (max-width: 600px) {
    .now {
        grid-template-columns: 1fr;
    }

    .now img {
        width: 720px;
        height: 180px;
        object-fit: cover;
    }
}

@media (min-width: 1000px) {
    .now {
        grid-template-columns: repeat(3, 1fr);
    }

    .now img {
        width: 720px;
        height: 180px;
        object-fit: cover;
    }
}

@media (max-width: 600px) {
    .agora {
        grid-template-columns: 1fr;
    }

    .cartao {
        flex-direction: row;
    }

    .cartao img {
        width: 130px;
        height: 90px;
        object-fit: cover;
    }
}

.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/*HOMEPAGE PARTE 1 */
.gel {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

/* Card */
.cardao {
    background: #fff;
    overflow: hidden;
    transition: transform 0.2s ease;
}

/* Imagem */
.cardao img {
    width: 100%;
    border-radius: 5px;
    height: auto;
    object-fit: cover;
}

/* Texto */
.paragrafo {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgb(61, 61, 61);
    margin: 4px;
    padding: 2px;
}

.descricao {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: rgb(97, 96, 96);
    margin: 13px;
}

/* 💻 Desktop */
@media (min-width: 768px) {
    .gel {
        grid-template-columns: 1fr 1fr;
    }
}

/* telas bem grandes */
@media (min-width: 1200px) {
    .gel {
        grid-template-columns: 1fr 1fr;
    }
}

p a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    line-height: 24px;
    color: #005670;
}

ul a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    line-height: 24px;
    color: #005670;
}

/* telas maiores */
@media (min-width: 768px) {

    p a {
        font-size: 18px;
        line-height: 26px;
    }
}

/* telas bem grandes */
@media (min-width: 1200px) {

    p a {
        font-size: 18px;
        line-height: 26px;
    }
}

/* MEUS COOKIES */
.cookie-consent {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%) translateY(150%);
    background: linear-gradient(135deg, #000000, #000000);
    border-radius: 10px;
    padding: 15px 40px;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    align-items: center;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    max-width: 95%;
    z-index: 10;
}

.cookie-consent.show {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}

.cookie-consent p {
    font-weight: 300;
    line-height: 20px;
    color: #ffffff;
    margin: 5px;
    font-size: 14px;
    flex: 2px;
}

.cookie-consent a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: underline;
}

.cookie-consent .buttons {
    display: flex;
    gap: 30px;
    margin-top: 4px;
    flex-shrink: 0px;
}

.cookie-consent button {
    padding: 20px;
    border-radius: 6px;
    border: none;
    font-weight: 200;
    line-height: 20px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

#acceptCookies {
    background-color: #03408f;
    color: #ffffff;
}

#acceptCookies:hover {
    background-color: #1463ca;
    transform: scale(1.05);
}

#denyCookies {
    background-color: #7c1111;
    color: #ffffff;
}

#denyCookies:hover {
    background-color: #fa2828;
    transform: scale(1.05);
}

@media (max-width: 50px) {
    .cookie-consent {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 20px;
    }

    .cookie-consent .buttons {
        width: 100%;
        justify-content: flex-start;
        margin-top: 10px;
    }

    .cookie-consent button {
        flex: 1;
    }
}

/*REFERENCIAS BIBLIOGRAFICAS*/
.referencia {
    font-style: normal;
    width: 100%;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.referencia:after {
    content: "▼";
    float: right;
}

.active:after {
    content: "▲";
}

.panel {
    display: none;
    padding: 2px, 2px;
    margin-top: 0px;
    background: inherit;
}

/* FOOTER */
.footer {
    position: relative;
    background: rgb(238, 232, 232);
    padding: 20px 10px 20px;
    overflow: visible;
    z-index: 1;
}

.logo img {
    width: 200px;
    height: 52px;
}

.footer-top,
.footer-topa {
    text-align: center;
    margin: auto;
}

.footer-top {
    max-width: 200px;
}

.footer-topa {
    max-width: 800px;
}

/* TEXTO */
.aviso {
    font-weight: 200;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 20px;
    color: #000000;
}

.column b {
    font-size: 15px;
    margin-bottom: 12px;
    color: #201e1e;
}

.column a {
    display: block;
    font-size: 14px;
    color: #000;
    text-decoration: underline;
    margin-bottom: 6px;
    transition: 0.2s;
}


/* RESPONSIVO */
@media (min-width: 600px) {
    .footer {
        padding: 20px;
    }

    .footer-links {
        text-align: center;
    }

    .logomobile {
        width: 180px;
        height: auto;
    }
}

/* DIREITOS */
.direitos {
    font-size: 14px;
    height: 20px;
    font-weight: 400;
    color: rgb(61, 61, 61);
    text-align: center;
    margin: 30px;
}

.footer-container {
    position: relative;
    max-width: 1200px;
    margin: auto;
    z-index: 2;
}

.footer-top {
    text-align: center;
    max-width: 200px;
    margin: auto;
}

.footer-topa {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

/* MENU MOBILE LOGO ESQUERDO */
.menumobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/* LOGO HEADER NO MOBILE ESQUERDO */
.logomobile {
    width: 140px;
    height: auto;
}

.rede {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: #0a0a0a;
    width: 40px;
    height: 40px;
    margin: 0 6px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* ESPACAMENTO ENTRE  MARGEM TOP NO MOBILE BARRA DE PESQUISA*/
.margem {
    margin-top: -9px;
}

.rede a {
    display: inline-flex;
    justify-content: center;
    color: #000000;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 6px;
    border-radius: 50%;
    cursor: pointer;
}

.rede a :hover {
    color: #000000;
    cursor: pointer;
}


/* DIVISOR */
.divider {
    margin: 10px;
    height: 1px;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
}

/* LINKS */
.footer-links {
    display: grid;
    text-align: center;
    margin: 30px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.column a:hover {
    color: #000000;
}

/* RESPONSIVO */
@media (max-width: 600px) {
    .footer {
        padding: 20px;
    }

    .footer-links {
        text-align: center;
    }
}

/* RESPONSIVO  PC*/
@media (min-width: 1200px) {
    .direitos {
        font-size: 16px;
        color: rgb(61, 61, 61);
        height: 26px;
        font-weight: 400;
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
}

/* FIM FOOTER */

/* AUTORES */
.meta {
    color: #424242;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 5px;
}

.meta i {
    color: #999;
}

.autora {
    display: flex;
    align-items: center;
    gap: 10px;
}

.autora img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.autora-info {
    font-size: 11px;
    line-height: 15px;
    color: #444;
}

.autora-info a {
    color: #005670;
    text-decoration: underline;
    font-weight: bold;
}

.subinfo {
    color: #313131;
    margin-top: 0px;
    font-size: 12px;
    line-height: 15px;
}

.subinfo a {
    color: #313131;
    text-decoration: underline;
    font-weight: normal;
}

/* TELAS DE PC */
@media (min-width: 1200px) {

    .autora-info {
        font-size: 14px;
        line-height: 20px;
    }

    .autora-info a {
        color: #005670;
        text-decoration: underline;
        font-weight: bold;
    }

    .subinfo {
        color: #313131;
        margin-top: 0px;
        font-size: 14px;
        line-height: 20px;
    }
}

/* TELAS DE TABLETS */
@media (min-width: 768px) {

    .subinfo {
        font-size: 14px;
        line-height: 20px;
    }
}

/* telas bem grandes */
@media (min-width: 1200px) {

    .subinfo {
        font-size: 13px;
        line-height: 16px;
    }

    .subinfo a {
        font-size: 13px;
        line-height: 16px;
        color: #313131;
        text-decoration: underline;
        font-weight: 300;
    }
}

.shareing {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.iconsa {
    display: flex;
    gap: 10px;
}

.icona {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.facebook {
    background: #3b5998;
}

.whatsapp {
    background: #25d366;
}

.pinterest {
    background: #bd081c;
}

.share-icona {
    background: #e0e0e0;
    color: #000000;
}


/* CATEGORIAS DO SITES HOMEPAGE */
.category {
    background: #c0e9fa;
    padding: 60px 20px;
    margin-top: 0px;
    margin: 0px;
}

/* TAGS */
.taga {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

/* BOTÕES */
.taga a {
    text-decoration: none;
    background: #025e80;
    color: rgb(255, 255, 255);
    padding: 10px 16px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 500;
    transition: 0.3s;
    white-space: nowrap;
}

/* 🔥 OTIMIZAÇÃO PARA TELAS GRANDES */
@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }

    .taga a {
        font-size: 14px;
        padding: 12px 18px;
    }

    .grupo h3 {
        font-size: 22px;
    }
}

/* 📱 MOBILE */
@media (max-width: 600px) {
    .category {
        padding: 40px 15px;
    }

    .taga {
        gap: 8px;
    }

    .taga a {
        font-size: 12px;
        padding: 8px 12px;
    }
}

/* CONTAINER CENTRAL */
.contener {
    max-width: 1200px;
    margin: auto;
}

/* GRUPOS */
.grupo {
    margin-bottom: 40px;
}

.grupo h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}

/* CATEGORIAS DO CONTEUDO */
.tag {
    font-weight: 400;
    display: inline-block;
    background: #e6f6fb;
    color: #005670;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 12px;
    margin-top: 15px;
}

/* FIM DO CSS*/
.containerperfil {
    max-width: 1200px;
    margin: auto;
    padding: 20px 20px;
    background: rgb(235, 235, 236);
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.perfil {
    transition: all 0.3s ease;
}

.perfil img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.perfil h2 {
    font-size: 17px;
    margin-bottom: 5px;
}

.perfil p {
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px;
}

.perfil a {
    font-style: normal;
    font-size: 18px;
    color: #2a7de1;
}


/* CALCULADORAS */
.calculadoras-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* CARD */
.calculadora {
    position: relative;
    z-index: 2px;
    overflow: hidden;
    min-height: 260px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    padding: 30px;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    transition: .3s ease;
}

/* OVERLAY */
.calculadora::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.95),
            rgba(0, 0, 0, 0.45));
    z-index: 0;
    /* importante para ficar atrás do texto */
}

/* CONTENT */
.calculadora-content {
    position: relative;
    z-index: 1;
    /* garante que fica acima do overlay */
    width: 100%;
}

/* TÍTULO */
.calculadora h2 {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    line-height: 36px;
    color: #ffffff;
    margin-bottom: 15px;
}

/* BOTÃO */
.botao {
    display: block;
    width: 100%;
    text-align: center;
    background: #E4932C;
    padding: 18px;
    border-radius: 12px;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    transition: 0.3s ease;
}

.botao:hover {
    filter: brightness(1.1);
}

/* TABLET */
@media (max-width: 1024px) {
    .calculadoras-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .calculadora {
        min-height: 240px;
    }

    .calculadora h2 {
        font-weight: 500;
    }
}

/* MOBILE */
@media (max-width: 768px) {
    .calculadoras-container {
        grid-template-columns: 1fr;
    }

    .calculadora {
        min-height: 240px;
    }

    .calculadora h2 {
        font-size: 22px;
    }
}

/* FIM DAS CALCULADORAS */




/* AVALIACAO DE CONTEUDO */
.percent {
    color: #006d8f;
    font-weight: bold;
}

.like {
    background: #006d8f;
    color: #006d8f;
}

.buttons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.btna {
    flex: 1;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid transparent;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.fa-thumbs-up {
    color: #2da4c8;
    margin-right: 8px;
}

.fa-thumbs-down {
    color: #7c0d01;
    margin-right: 8px;
}

.btn-yes {
    background: #cef0fa;
    color: #035770;
}

.btn-no {
    background: #ffd4d4;
    color: #8f1103;
}

.success {
    color: #2ecc71;
    font-weight: bold;
    margin-top: 20px;
}

textarea {
    width: 100%;
    height: 120px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
}

.submit-btn {
    width: 100%;
    height: 50px;
    padding-bottom: 40px 40px;
    margin-top: 10px;
    padding: 15px;
    background: #29a1c5;
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

/* FIM DE  AVALIACAO DE CONTEUDO */

/* NOSSAS REDES SOCIAIS */
.navrede {
    display: fixed;
    text-align: center;
    margin-top: -100px;
}

.navrede h3 {
    font-weight: 400;
    text-align: center;
    font-style: normal;
    color: rgb(61, 61, 61);
    font-size: 13px;
    line-height: 16px;
}

/* ICONS DE REDES SOCIASI NO MOBILE ESQUERDO  */
.navrede a {
    font-weight: 400;
    text-align: center;
    font-style: normal;
    color: rgb(77, 76, 76);
    font-size: 20px;
    line-height: 30px;
}

/* SUBMENUS CSS SAUDE E BEM-ESTAR  */
.spana {
    font-weight: 400;
    font-style: normal;
    color: rgb(61, 61, 61);
    font-size: 14px;
    line-height: 24px;
}

/* SUBMENUS CSS SAUDE E BEMESTAR  */
/* Estilo da citação */
blockquote {
    margin: 20px 0;
    padding: 15px 15px;
    background: #f6ffff;
    border-left: 5px solid #005670;
    border-radius: 20px;
    font-style: italic;
    color: rgb(61, 61, 61);
    position: relative;
}

/* Aspas decorativas */
blockquote::before {
    content: "“";
    font-size: 45px;
    color: rgb(61, 61, 61);
    position: absolute;
    top: -10px;
    left: 5px;
    opacity: 0.3;
}

/* Fonte da citação */
cite {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    color: rgb(61, 61, 61);
    font-style: normal;
}

/* Link da fonte */
cite a {
    color: #005670;
    text-decoration: underline;
}

/* CITACAO EM TELAS GRANDES */
@media (min-width: 1200px) {
    blockquote {
        margin: 20px 0;
        padding: 20px 25px;
        background: #f6ffff;
        border-left: 5px solid #005670;
        border-radius: 20px;
        font-style: italic;
        font-size: 18px;
        color: rgb(61, 61, 61);
        position: relative;
    }

    /* Aspas decorativas */
    blockquote::before {
        content: "“";
        font-size: 50px;
        color: #0d160e;
        position: absolute;
        top: -10px;
        left: 10px;
        opacity: 0.3;
    }

    /* Fonte da citação */
    cite {
        display: block;
        margin-top: 10px;
        font-size: 18px;
        font-style: normal;
        height: 26px;
        color: rgb(61, 61, 61);
    }

    /* Link da fonte */
    cite a {
        color: #005670;
        text-decoration: underline;
    }
}

/* FIM DE CITACAO */

/* AVISO DO SITE AO CONTEUDO */
.warning p {
    margin: 10px 0;
    padding: 15px 15px;
    background: #f6ffff;
    border-left: 5px solid #005670;
    border-radius: 20px;
    font-style: normal;
    color: rgb(61, 61, 61);
    position: relative;
    box-shadow: #000;
}

/* FIM DE AVISO DO SITE AO CONTEUDO  */

/* CSS DE ASSUNTO DO MOMENTO  */
.lermais p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: rgb(61, 61, 61);
}

/* CSS DE LERMAIS  */
@media (min-width: 800px) {
    .lermais {
        display: none;
    }
}

.lermais {
    width: 100%;
    height: auto;
    padding: 5px;
    margin-top: 20px;
}

.linkar {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 6px;
    background: #0279a8;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
}

.linkar:hover {
    background: #0284c7;
}